<h1 class="display-4">EMP. Register</h1>
<form #form="ngForm" autocomplete="off">
  <div class="form-group">
    <input
      name="fullname"
      #fullName="ngModel"
      [(ngModel)]="employeeService.formData.fullname"
      class="form-control"
      placeholder="full name"
    />
  </div>
  <div class="form-group">
    <input
      name="position"
      #position="ngModel"
      [(ngModel)]="employeeService.formData.position"
      class="form-control"
      placeholder="Position"
    />
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input
        name="empCode"
        #empCode="ngModel"
        [(ngModel)]="employeeService.formData.empCode"
        class="form-control"
        placeholder="Emp. Code"
      />
    </div>
    <div class="form-group col-md-6">
      <input
        name="mobile"
        #mobile="ngModel"
        [(ngModel)]="employeeService.formData.mobile"
        class="form-control"
        placeholder="Mobile"
      />
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-lg btn-block btn-info">SUBMIT</button>
  </div>
</form>
